@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.header {
    overflow: hidden;
    padding: 15px;
    background-color: #f1f1f1;
    font-family: Inter;
}
.header h1 {
    display: inline-block;
    padding: 5px;
}
.header p {
    display: inline-block;
    padding: 5px;
}
.MadLib {
    padding: 15px;
    font-family: Inter;
}
.MadLib input {
    padding: 5px;
    font-size: 1em;
    font-family: Inter;
    border-radius: 5px;
    border: solid 1px;
    outline: none;
}
.MadLibText {
    padding: 5px;
}
.MadLibText p {
    margin-bottom: 0;
    padding: 0;
}